[2017-10-16 08:24] Amirnajafi opened #3 "cannot change the cancell and submit text"
i want to user your library in my language and i should change the text button

[2017-10-16 08:28] Amirnajafi opened #4 "tableview height"
tableview height should calculate dynamic if I have just 2 row your library create table view with lots of empty white space

[2017-10-16 20:03] rushisangani commented on #4
This issue has been fixed in version 2.0.6
Update RSSelectionMenu to lates cocoa pod version.

[2017-10-16 20:03] #4 closed

[2017-10-16 20:05] rushisangani commented on #3
This issue has been fixed in version 2.0.6
Update your pod to latest cocoa pod version.

You can now set titles as below.

selectionMenu.rightBarButtonTitle = "Submit"
selectionMenu.letBarButtonTitle = "Close"

[2017-10-16 20:05] #3 closed

[2017-10-17 06:33] Amirnajafi opened #5 "cancell button"
first i want to thanks for your very good support
thanks to add function to add title but very little thing still has problem for me
when i add search button i can change the placeholder of search that is awesome but there is a
cancell buttun with text "Cancell" its whould be nice if you can add this function to

by the way you are so cool man !!!

[2017-10-17 07:41] rushisangani commented on #5
Thanks.
Please give a star if you like RSSelectionMenu.

You can now customize cancel button as well.
Update your pod to version 2.0.7

// set cancel button title and tint color.

selectionMenu.searchBarCancelButtonAttributes = ("Dismiss", UIColor.darkGray)
or
selectionMenu.searchBarCancelButtonAttributes = ("Dismiss", nil)

[2017-10-17 07:41] #5 closed

[2017-10-24 15:42] ControlAdad opened #6 "Error while creating menu"
let selectionMenu =  RSSelectionMenu(dataSource: simpleDataArray) { (cell, object, indexPath) in
            cell.textLabel?.text = object
        }

When I try to create a menu using code above, compiler give this error:

![image](https://user-images.githubusercontent.com/179375/31953123-3d2aeef4-b8ef-11e7-9158-ca01a0f74d97.png)

[2017-10-28 08:42] Amirnajafi opened #7 "error in buttuns"
i don't know why in new update my buttons (navigations button and search cancel button ) not showing up at all
in my code i setup

selectionMenu.rightBarButtonTitle = "Submit"
selectionMenu.leftBarButtonTitle = "Close"

and for my search i setup
selectionMenu.searchBarCancelButtonAttributes = SearchBarCancelButtonAttributes("Dismiss", .red)

and i want to customize search placeholder alignment in

[2017-10-30 06:26] rushisangani commented on #6
Have you tried with latest pod version 2.0.7?
- Please install the latest version if not.

If you're using swift 4 project and installing RSSelectionMenu then please follow following steps.

1. Go to pods projects in your workspace.
2. Select RSSelectionMenu target.
3. Go to Build Settings and set Swift Language Version to 3.2

Cheers.

[2017-10-31 05:48] rushisangani commented on #7
@Amirnajafi
I guess you've done something wrong.
Try this code, since it's perfectly working.

        // create menu
        let selectionMenu = RSSelectionMenu(selectionType: .Multiple, dataSource: dataArray) { (cell, object, indexPath) in
            cell.textLabel?.text = object
        }

        // set selected items
        selectionMenu.setSelectedItems(items: selectedArray) { (text, selec

[2017-11-21 05:59] hstdt opened #8 "Localization FirstRowType Value"
Now we can't customize the value of `FirstRowType.None` &  `FirstRowType.All`.

![image](https://user-images.githubusercontent.com/10215098/33057098-0e553626-cec4-11e7-9e84-add506420ef8.png)

[2017-11-27 06:30] #6 closed

[2017-11-27 06:54] rushisangani commented on #8
Hello, @hstdt upgrade your pod to the latest version 2.0.9 and you'll be able to use custom strings as FirstRowType.

[2017-11-28 01:27] hstdt commented on #8
@rushisangani  Thanks, it works.

[2017-11-28 01:27] #8 closed

[2017-12-10 08:51] Amirnajafi opened #9 "ios 11.2 formview bug"
in ios 11.2 formview viewing with bug you cant see it int picute
![screen shot 1396-09-19 at 12 20 26 pm](https://user-images.githubusercontent.com/7419126/33803403-af82001c-dda4-11e7-9e5f-e7762821d4fd.png)

[2017-12-12 14:50] PedroCavaleiro opened #10 "Cannot assign value type of..."
Hi, I've recently added your lib to my project but I'm getting this error

This error can be found in the file RSSelectionMenuController.swift line 325 witch contains this function

[code]

[2017-12-13 06:08] rushisangani commented on #10
Hello, @PedroCavaleiro please follow below steps.

Go to pods projects in your workspace.
Select RSSelectionMenu target.
Go to Build Settings and set Swift Language Version to 3.2

[2017-12-13 09:36] hstdt opened #11 "`parentController` should be weak var"
Can't deinit after pushing.
![image](https://user-images.githubusercontent.com/10215098/33931793-1969067c-e02c-11e7-86da-4809f495ef01.png)

[2017-12-13 13:47] PedroCavaleiro commented on #10
Did not know that I was able to change the Swift Language Version for only one Pod
Thanks

[2017-12-13 13:47] #10 closed

[2017-12-13 20:12] rushisangani commented on #9
Hello @Amirnajafi, Could you please share your code that how you're presenting the menu.
So that I can try to resolve it asap.

Thanks.

[2017-12-13 20:48] rushisangani commented on #11
@hstdt, thanks for reporting the issue.
Please update your pod to latest version 3.0.
The issue has been resolved now.

[2017-12-14 00:46] hstdt commented on #11
@rushisangani  It works well now. Closed.

[2017-12-14 00:46] #11 closed

[2017-12-14 10:37] Amirnajafi commented on #9
let selectionMenu =  RSSelectionMenu(dataSource: educationLvlElement) { (cell, object, indexPath) in
			ConfigSelectionCell(cell: cell)
			cell.textLabel?.text = object
		}

		selectionMenu.tableView?.semanticContentAttribute  = .forceRightToLeft
		selectionMenu.setSelectedItems(items: selectedField) { (text, isSelected, selectedItems) in
			self.selectedEducatinLvl = selectedItems
			self.educati

[2017-12-14 10:38] Amirnajafi commented on #9
in mobile of tablet in formsheet view my form go to the bottom down of page

[2017-12-20 04:53] songcamhoi opened #12 "Cannot assign value of type '[String : Any]?' to type '[NSAttributedStringKey : Any]?'"
I change in swift 4:
Go to pods projects in your workspace.
Select RSSelectionMenu target.
Go to Build Settings and set Swift Language Version to 3.2
But " Cannot assign value of type '[String : Any]?' to type '[NSAttributedStringKey : Any]?' "

[2017-12-20 12:47] rushisangani commented on #12
Hi @songcamhoi, please update your pod to latest version **RSSelectionMenu (3.1)**
Swift 4.0 support is added now.

[2017-12-20 12:50] rushisangani commented on #9
Hi @Amirnajafi, this bug was due to iOS 11.2 layout changes.
This is fixed now in latest version **RSSelectionMenu (3.1)**
Also, the base version of swift is changed to 4.0

Kindly update your pod to get latest features and bug fixes.

[2017-12-30 16:30] thomfriedel opened #13 "Install on IOS 9.0"
I installed the zip on IOS 9.0 and all seemed fine.   Is there a reason the deployment target in the podfile is 10.0?  Thanks!

[2018-01-01 10:16] rushisangani commented on #13
@thomfriedel, Thanks for the suggestion.
iOS 9.0 is supported now, Please use latest version RSSelectionMenu (3.2)

[2018-01-01 10:17] #12 closed

[2018-01-01 10:17] #9 closed

[2018-01-08 05:13] #13 closed

[2018-01-14 12:32] salvonos opened #15 "Change Colour of CheckMark"
Hi there,

nice plugin. How could I change the color of the checkmark ?

[2018-01-15 06:26] rushisangani commented on #15
Hi @salvonos, to change the checkmark color you need to set the UITableViewCell's tint color.
Ex. cell.tintColor = .orange

You can use any cell properties where you're setting text of the cell TextLabel inside the block.

Hope this helps.

[2018-01-22 06:30] #15 closed

[2018-01-25 13:58] ahmadmssm opened #16 "Build error"
Building project takes too long time when adding the pod of RSSelectionMenu

[2018-01-29 11:01] inamurrahman opened #17 "Issue in Formsheet"
Formsheet appears only one time, If the tap anywhere else or make a selection and then try to show the Formsheet it shows nothing.

[2018-01-29 11:01] inamurrahman commented on #17
Im using the latest pod.

[2018-01-30 06:21] rushisangani commented on #17
Hello @inamurrahman, Could you please share your code, how you're showing the menu?
I would recommend creating new selectionMenu instance every time when displaying the menu, rather than creating a global variable.

[2018-01-30 10:55] inamurrahman commented on #17
I have figured it out, there was some logical issue in my view. Thanks for the response :)

[2018-01-30 10:55] #17 closed

[2018-02-16 10:03] vicheanak opened #18 "Detect event after select an item"
How can I detect an event after an item is selected?

Thanks

[2018-02-20 05:10] rushisangani commented on #18
@vicheanak , What do you want to achieve when an item is selected?

[2018-05-03 09:34] Hzza3 opened #20 "How to access the selected items after dismissing the menu ?"
Where can i access the array of the selected items after dismissing the menu ?

[2018-05-07 06:32] shishirumrao opened #21 "Filter not working properly"
Hi,

I'm using custom model with custom cell

This is the class "bank" :
[code]

And this the function I'm calling on Button Click.
[code]

Now when I type to filter the list, It's not returning the right ones
Here's the screen recording...
https://drive.google.com/open?id=1JCWdYm4NI9nuf8q3wvD3zaw4x3btFZYq

[2018-05-07 10:32] #20 closed

[2018-05-07 10:33] rushisangani commented on #20
You'll get selected items in **selectionMenu.setSelectedItems** method.
You can pass items which you want to show as selected when the menu opens.
and you will get selected items when a user selects it.

[2018-05-10 16:34] dev-pankajkainthla opened #23 "Get data from Api via closure"
How to pass data through api return. For eg: With every searchText i call an api which return data array and then it refreshes the selection menu. When i try to add the api inside the return function. It shows an error that closure require a return. It is not considering the return from the closure as a return.
For eg:

[code]

[2018-05-31 15:23] Mitesh-2009 opened #24 "ERROR ITMS-90087: "Unsupported Architectures. The executable for CoinTopper.app/Frameworks/RSSelectionMenu.framework contains unsupported architectures '[x86_64, i386]'.""
ERROR ITMS-90087: "Unsupported Architectures. The executable for CoinTopper.app/Frameworks/RSSelectionMenu.framework contains unsupported architectures '[x86_64, i386]'."

[2018-06-22 08:30] hlongvu opened #25 "Please add Carthage support"

[2018-06-25 23:23] heliumdice opened #26 "On dismiss closure feature request"
Hey

This pod is so so good and such a pleasure to use. Thanks for making and sharing it!

I have a feature request. Would it be possible to add an on dismiss callback closure which would be triggered when the formsheet style gets dismissed.

Thanks!

[2018-06-26 06:49] rushisangani commented on #26
Hi, @heliumdice thanks for the wonderful suggestion.
This has been added in latest version 4.0

you can use it like below:

[code]

optionally you can comment the line - for updating array on each selection event and you'll get final selected items on menu dismissal.

[code]

[2018-06-26 06:54] rushisangani commented on #18
@vicheanak you can get selection event on each item selected in following method.

[code]
Also, you will get all selected items on menu dismissal event.
[code]

[2018-06-26 06:54] #18 closed

[2018-06-26 06:56] rushisangani commented on #23
Hi @dev-pankajkainthla This is just a drop-down/selection menu with the search.

This will not work for API request.
You can search through the items that you've passed to the RSSelectionMenu as dataArray.

[2018-06-26 06:56] #23 closed

[2018-06-26 13:06] heliumdice commented on #26
Oh wow that is amazing! So quick.

I implemented it today and it works a treat!

Thanks you!

[2018-06-26 13:06] #26 closed

[2018-06-28 18:01] dmachacon opened #27 "every item on the list displays a checkmark on selection type single"
On Single selection type, when you select an item on the list, all item on the list displays a checkmark.

[2018-06-29 04:54] rushisangani commented on #27
Hi @dmachacon Can you please share your code?

[2018-06-29 08:19] dmachacon commented on #27
My bad. I used the wrong uniquePropertyName. :)

[2018-06-29 10:04] #27 closed

[2018-07-06 07:27] kaitlyntier opened #28 "onDismiss was not found"
Hi

Awesome work with RSSelectionMenu. Makes creating of drop down easier, manageable, and cool. Though I am encountering an issue when I try to use onDismiss. Swift shows an error that the menu has no member 'onDismiss'. Is there some import or configuration I am missing?

Thanks

[2018-07-06 10:19] rushisangani commented on #28
@kaitlyntier Can you please try updating your cocoapods?

[2018-07-11 10:05] proovek opened #30 "Every row mark as checked"
What is my problem? - It's works perfect but when I select one row, the App shows me "one row selected... etc" and it's okay, but when im looking into an App I have "checked" every rows.

there is my code:

[code]
like that: https://imgur.com/nveTKJ8 Im really confused with this :P

[2018-07-11 12:31] proovek commented on #30
And how I can get some values from dataCore which is selected?

[2018-07-11 13:14] rushisangani commented on #30
Your data models must have one unique property.
Here, In your Entity **Licencja** which property has uniqueValue?
You need to set "String description of the property"

[2018-07-11 14:17] proovek commented on #30
Every value in this entity is unique :P
for example **licenseNumber** is unique

[2018-07-11 14:18] proovek commented on #30
Can you help me with this? Im trying sooo many times :/

[2018-07-11 14:33] rushisangani commented on #30
Maybe you can try something like this
[code]

[2018-07-11 18:01] proovek commented on #30
I'll try later but thanks for some help :) Now im on outside

[2018-07-12 06:40] proovek commented on #30
I try and it's doing the same :/ I have a problem with uniquePropertyName

[2018-07-12 06:47] proovek commented on #30
Every marks are checked every time... it's weird

[2018-07-12 07:50] proovek commented on #30
All my code?
For explain - Your library works good, but my problem is here - I need to set uniquePropertyName with my License entity for example for attribute with id = "licenseNumber"
I need to recall to this id, but I couldn't get this id from dataCore

[2018-07-12 07:58] proovek commented on #30
response from entity
[<Licencja: 0x6000002843d0> (entity: Licencja; id: 0xd000000000040000 <x-coredata://197130E8-8765-4C43-A0E1-2628597E0693/Licencja/p1> ; data: {
    deviceID = "0C4BE11B-63F5-43C5-899F-DF80F319EFD4";
    licenseDescript = "Serwer Api testowy";
    licenseNumber = "DED-3139557474104099-API";
    licenseURL = "https://someexampleAPI.com.pl/api/";
})]

what I should to use to get

[2018-07-12 08:06] rushisangani commented on #30
Your Entity must be subclass of NSObject.

[2018-07-12 08:09] proovek commented on #30
that's how im sending someone to entity,
`import Foundation
import CoreData

extension Licencja {

    @nonobjc public class func fetchRequest() -> NSFetchRequest<Licencja> {
        return NSFetchRequest<Licencja>(entityName: "Licencja")
    }

    @NSManaged public var licenseURL: String?
    @NSManaged public var deviceID: String?
    @NSManaged public var licenseNumber: String?
    @NSManaged

[2018-07-12 08:12] proovek commented on #30
What do you mean?
Can you write some example or something?

[2018-07-12 08:21] proovek commented on #30
My entity is a subclasss of NSManagedObject it's the same as nsobject

[2018-07-12 12:42] proovek commented on #30
How can I delete those little "birds" on selected?

[2018-07-12 12:44] proovek commented on #30
Only they works badly

[2018-07-12 13:18] rushisangani commented on #30
You need to perform following steps:

1. Implement **UniqueProperty** protocol in your **Licencja** class.
2. Return property name that has unique value.

[code]
3. Fetch your entity **Licencja** list.

`let result = <** Fetch call here **>`

4. Declare already selected items to show in menu.

`var selectedLicencja = []()`

5. Implement selection menu as follows:

[code]

[2018-07-13 07:23] proovek commented on #30
Can you tell me how to delete marks from your code?

[2018-07-13 07:37] rushisangani commented on #30
It should work perfectly if you've configured all things properly.
I'll get idea if you share your datamodels and other files where you're showing the menu.

[2018-07-13 07:49] proovek commented on #30
I'll sent you my project on email, I don't want to share it public right now, okay?

[2018-07-13 11:02] rushisangani commented on #30
Can you please try updating pod with version 4.0.2 and check if it works?

[2018-07-13 11:10] proovek commented on #30
Yea I can try

[2018-07-13 11:19] proovek commented on #30
Now it's work fine, thanks for helping me.

[2018-07-13 11:58] #30 closed

[2018-07-13 11:58] #28 closed

[2018-07-13 11:59] #21 closed

[2018-07-13 23:56] jahirfiquitiva opened #31 "[Feature Request] Add an option to show a simple title in Formsheet style"
Hello

Thanks for this awesome lib. Works great. Anyways, I was wondering if you could allow showing a simple title at the top of the selection menu when its style is `.Formsheet`, basically above the search bar (if it's enabled) or where the search bar would be

Thanks in advance 😀🙌🏼

[2018-07-19 23:09] PedroCavaleiro opened #32 "[BUG] When selected a item shows multiple selections"
Hi, I'm using your plugin as a popover selection list.
Currently I'm loading the items from the CoreData so I extended the class I needed to get an identifier as specified in the documentation
[code]
The title is for sure unique because before adding a new category the software checks if that title already exists
When I tap, in this case a category, they show all as selected UI only, with this I m

[2018-07-19 23:28] PedroCavaleiro commented on #32
Not only is this a duplicate of another issue (I missed somehow) but also I had the outdated pod (3.3) updating to 4.0.2 solved

[2018-07-19 23:28] #32 closed

[2018-07-21 15:06] heliumdice opened #33 "Missing selected items when using the select all first first row option"
Hi,

Again I am loving this pod. Thanks for keeping it well maintained!!

I think I found a bug today.

If you add a first row with type .All. In the callback to setSelectedItem. The selected items array is returning with zero items.

It would make sense to me if there is a select all option available the setSelectedItem closure should return an array of all the items.

If this is not a bug and it

[2018-07-21 15:08] heliumdice opened #34 "onDismis not triggered when dismissing formsheet with first row select all option highlighted"
Hi,

I found another bug while using the first row select all option.

If you create a formsheet with a first row as a select all option.

The onDismiss callback does not fire.

Thanks again for this amazing pod. :)

[2018-07-22 04:29] rushisangani commented on #33
Hi @heliumdice
Thanks for the feedback.

You'll get an event when you select the first row whether it is "All", "None" or any text you've set.

[code]

I hope you got my point.

[2018-07-23 19:36] rushisangani commented on #34
@heliumdice Dismiss callback will always get fired, could you please check again?

[2018-07-24 18:12] heliumdice commented on #34
You are correct this is working.

[2018-07-24 18:12] #34 closed

[2018-07-25 04:35] #33 closed

[2018-07-25 04:36] #24 closed

[2018-07-25 04:36] #16 closed

[2018-07-25 04:36] #7 closed

[2018-07-29 04:33] jahirfiquitiva opened #35 "Formsheet looks really bad in landscape mode"
In landscape mode there's too much padding on top and bottom sides, so it just shows a single item.

Please fix it so more items are shown and hopefully even make it device independent, so the bigger the screen, the more items it shows.

Thanks in advance.

![captura de pantalla 2018-07-28 a la s 21 42 59](https://user-images.githubusercontent.com/10360816/43362998-894b1d00-92be-11e8-876d-5c174cbd

[2018-07-31 15:25] #35 closed

[2018-08-05 12:47] raeesmadathil opened #36 "Sticky Search bar"
Thanks for such a great library, Can you please make the search bar as sticky on top while scrolling, it will possible by  adding searchbar in tableview delegate , 'tableView(_ tableView: UITableView,
 viewForHeaderInSection section: Int) -> UIView?'  instead of 'tableHeaderView',
Thanks for great work  💯 👍

[2018-08-06 10:38] rushisangani commented on #36
Hi @raeesmadathil
Thanks for the suggestion.

I've fixed this in new version 5.0.2

[2018-08-06 10:38] #36 closed

[2018-08-07 10:55] raeesmadathil commented on #36
Hi @rushisangani
Thanks for your great work

[2018-08-10 09:17] najoua opened #37 "Disable cell check"
Hi,

I want to disable checking the default checked cell so that user cannot uncheck them.
How can I do that please?

Thank you

[2018-08-10 09:52] rushisangani commented on #37
Hi,
Can you describe what you want to achieve?

[2018-08-10 10:14] najoua commented on #37
I have a list of customselectedDataArray, it must be checked all the time, the user shouldn't disable it anymore.

[2018-08-10 10:47] rushisangani commented on #37
It wont be possible as of now, it would be rather you dont pass those items in to show in menu.

[2018-08-10 10:52] najoua commented on #37
Actually I need to show them.
Thank you anyway.

[2018-08-18 11:20] dheeraj-appzop opened #38 "Get the Id of the cell Selected?"
Thanks for the great library.
How to get the id of the selected cell in formsheet?
The dataSource is a dictionary of key, value pairs. On cell selection how to capture the Id ?
Any help?
Thanks.

[2018-08-18 22:23] jahirfiquitiva opened #39 "Super slow SelectionMenu when using custom cell views"
It takes a long time to open the selection menu, and also, when selecting items, it takes a little for the check to appear

[2018-08-18 22:26] jahirfiquitiva opened #40 "Using Present or Push disables the custom NavigationBar styles"
I want to use `.Multiple` and `.Present` at the same time. I do not want the "Done" button but a cancel button on the left. Anyways, the library keeps overriding my custom configuration.

Please give us full control of the `NavigationBar` buttons in any of the styles.
Basically, disable [these checks](https://github.com/rushisangani/RSSelectionMenu/blob/fa6367b575f02d758f91d65e7fefd5ad0ff446ec/RSS

[2018-08-18 22:38] jahirfiquitiva commented on #39
Here's a gif proof of the behavior. Look how long it takes after the "Loading..." alert disappear for the `RSSelectionMenu` to appear. And also look how long it takes for the items to be selected.

**The video isn't sped up nor slowed down.**

![kap](https://user-images.githubusercontent.com/10360816/44303697-532a8d00-a30d-11e8-8b17-b4517f783bf7.gif)

[2018-08-18 23:15] jahirfiquitiva opened #41 "NavigationBar barTintColor not always working"
Hi

I am trying to set `#212121` as the `barTintColor` of the `NavigationBar` but it isn't working properly as a lighter color is set.

Look at the screenshot below: the `StatusBar` color and `SearchBar` colors are `#212121` but the `NavigationBar`'s isn't (which actually is `#323232`).

![captura de pantalla 2018-08-18 a la s 18 06 43](https://user-images.githubusercontent.com/10360816/44303917-a

[2018-08-18 23:17] jahirfiquitiva opened #42 "Allow changing the color of SearchBar field background and text"
As you can see in the screenshot below, the `SearchBar` is white and text is light gray, but I would like to give it custom colors.

Unfortunately, the `SearchBar` is a private field and I can't seem to find a way to customize it as I want to.

Thanks

![captura de pantalla 2018-08-18 a la s 18 06 43](https://user-images.githubusercontent.com/10360816/44303926-e914e680-a312-11e8-8487-dad92ecd598f.

[2018-08-18 23:58] jahirfiquitiva commented on #39
My bad... the issue seems to come with the user photos.

[2018-08-18 23:58] #39 closed

[2018-08-20 05:29] rushisangani commented on #40
@jahirfiquitiva,
How would you dismiss the menu, if you have multiple selection and only cancel button?

[2018-08-20 06:09] rushisangani commented on #38
You'll get selected items in **setSelectedItems** handler or **onDismiss** handler.
You'll get the array of dictionaries since you've passed an array of dictionaries as **DataSource**.
If there is a single selection - you'll get one selected item in handler.

Hope this helps !!

[2018-08-20 06:09] #38 closed

[2018-08-20 06:35] dheeraj-appzop commented on #38
Thanks for the help.
The dataSource Actually is not a dictionary of key value pairs, It is an array of values.
How to pass dictionary of key value pairs as dataSource?
Thanks.

[2018-08-20 07:07] rushisangani commented on #38
- You need to pass an array as datasource to the menu.
- From Dictionary only, menu can not be shown as it should have number of options to select.

[2018-08-20 07:11] dheeraj-appzop commented on #38
If I pass array then how to get the Id of the selected element.
I want to display a name in the table view cell and get its id on selected.
How could I do that?
Thanks for the help.

[2018-08-20 08:33] dheeraj-appzop commented on #38
Ok.Thanks.
But is it possible to do the way I am looking for using this library?

[2018-08-20 16:35] rushisangani commented on #40
@jahirfiquitiva What kind of changes you want to do on Done button clicked.
You'll get an event when menu is dismissed.

[2018-08-20 17:00] rushisangani commented on #42
@jahirfiquitiva
Upgrade to the latest version **5.0.3** & You'll get an access for SearchBar `menu.searchBar`

[2018-08-20 17:00] #42 closed

[2018-08-20 17:06] rushisangani commented on #41
@jahirfiquitiva
Upgrade to the latest version 5.0.3.
You'll get an access for navigationBar -> `menu.navigationBar`

**Note:** To modify navigationBar you should use it in willAppear.
[code]

[2018-08-20 17:06] #41 closed

[2018-08-20 17:11] rushisangani commented on #40
@jahirfiquitiva
You'll get an event with selected items on menu dismiss - whether it is cancelled or dismissed.
Depending on the selected items result you can make decisions.

[code]

[2018-08-20 17:11] #40 closed

[2018-08-21 15:54] rushisangani commented on #31
Please upgrade to the latest version **5.1** and you can use presentation style **Alert** to have a menu with the title.

[2018-08-21 15:54] #31 closed

[2018-08-21 16:07] jahirfiquitiva commented on #31
@rushisangani Is it possible to use the Title and the SearchBar in `Alert` style? ... That's basically the feature request

[2018-08-21 16:13] jahirfiquitiva commented on #41
Hey @rushisangani

I just implemented this and the `navigationBar` is now themed properly, but for some reason, a weird margin/space appears between the `navigationBar` and the `searchBar`

![captura de pantalla 2018-08-21 a la s 11 11 58](https://user-images.githubusercontent.com/10360816/44414354-2c4da000-a533-11e8-8de9-5dcef6c6c80e.png)

[2018-08-21 16:16] rushisangani commented on #41
Could you please share your code?

[2018-08-21 16:17] jahirfiquitiva commented on #41
Here's the code to change the color:
[code]

The issue only happens when adding `selectionMenu.navigationBar?.isTranslucent = false` but it is required, or the `navigationBar` won't really change the color and the initial issue persists

[2018-08-21 16:17] rushisangani commented on #41
Give me a few mins, I'll check and update.

[2018-08-21 16:18] jahirfiquitiva commented on #41
Thank you so much! 😀 @rushisangani

[2018-08-21 16:18] rushisangani commented on #31
Yes its possible

[2018-08-21 16:43] rushisangani commented on #41
This is only happening in **style = Present** and **selectionMenu.navigationBar?.isTranslucent = false**
It's weird..

[2018-08-21 16:49] jahirfiquitiva opened #43 "Selection issues in v 5.1"
Hey

After updating to latest version, I'm facing an issue where selection of some items in table does not work.

It's happening in `Single` and `Multiple` selection types as well. And without custom cells too.

Here's a gif showing the issue:

![kapture 2018-08-21 at 11 47 27](https://user-images.githubusercontent.com/10360816/44416289-28704c80-a538-11e8-8bc3-7c047be49864.gif)

[2018-08-21 16:55] rushisangani commented on #43
Can you run the example code?
It's may be issue with your selectedDataSource.

[2018-08-21 17:15] jahirfiquitiva commented on #43
@rushisangani
The example code works fine, but my code worked fine with previous versions so I don't know what could have changed in the library for it to stop working

[2018-08-21 17:47] rushisangani commented on #41
@jahirfiquitiva
Navigation bar blank space issue solved. - Please upgrade to version 5.1.1

[2018-08-21 17:52] rushisangani commented on #43
@jahirfiquitiva
Is this resolved?

[2018-08-21 22:07] jahirfiquitiva commented on #43
No, it isn't resolved
As I told you, my code worked fine in previous versions of the library. I don't see any reasons why it shouldn't work in the latest one.

[2018-08-22 06:55] rushisangani commented on #43
I've made a special demo for you, with all the features implemented using **version 5.1.1**
Kindly refer to this.
[RSSelectionMenuDemo.zip](Demo)
It's working fine with all presentation styles.

[2018-08-22 15:52] jahirfiquitiva commented on #43
@rushisangani
Thanks but I don't see anything special in that demo that is different from the examples in README ... Have you tried to make it work with custom objects/models or even an array of `Int`s ?

[2018-08-23 05:29] rushisangani commented on #43
@jahirfiquitiva
The same example has been updated with the custom models.

You can download from here.
[RSSelectionMenuDemo.zip](https://github.com/rushisangani/RSSelectionMenu/files/2313033/RSSelectionMenuDemo.zip)

Kindly check the issue from your end.

[2018-08-23 05:29] #43 closed

[2018-08-23 10:43] sagargondaliya commented on #25
Carthage support added. Please follow guide and use version 5.2

[2018-08-23 10:43] #25 closed

[2018-08-27 20:02] SpajicM opened #48 "Formsheet height incorrect after 5.1.1 update"
I was using RSSelectionMenu with Formsheet style fine with version 5.0, after updating to 5.1.1 Formsheet height goes to the bottom of the screen.

New Actionsheet and Alert styles work ok.

[2018-09-04 21:41] pdecarcer opened #49 "Diss select an item"
Hi,

   I have a list of products with single selection. If the user regret of the product I can't diss select. How can you do that.

[2018-09-05 05:14] rushisangani commented on #48
@SpajicM
Could you please share a screenshot or relevant details for the issue?

[2018-09-06 11:01] SpajicM commented on #48
@rushisangani On 5.0 it was ok, like a box with same width, height.
Formsheet (not ok):
![simulator screen shot - iphone 8 - 2018-09-06 at 12 58 56](https://user-images.githubusercontent.com/21988220/45153563-bd2fa700-b1d4-11e8-9f37-f1bb959cbecc.png)
Alert (working ok):
![simulator screen shot - iphone 8 - 2018-09-06 at 12 54 30](https://user-images.githubusercontent.com/21988220/45153613-e9e3be80

[2018-09-07 10:13] neXus1987 opened #50 "Clear Selection Button"
Hi,

this is a really great swift module!

Is it possible to have a button e.g. on the left navbar for clearing the selection?

Thanks
Phil

[2018-09-10 05:07] rushisangani commented on #50
Hello @neXus1987
to clear the selection you should use the following with option (**Empty** or **None**)

[code]

[2018-09-10 05:07] #50 closed

[2018-09-10 05:07] #49 closed

[2018-09-14 08:56] d33pak-s1ngh opened #52 "what is correct version to install ?"
when i added `pod 'RSSelectionMenu' `into my podfile i got following message in terminal

`Installing RSSelectionMenu (3.3)
`
which means it is installing 3.3

and when i addedd` pod 'RSSelectionMenu', '~> 5.2.1'` into podfile i got following message in terminal

[code]

Please define which is correct version to install.

[2018-09-14 08:59] rushisangani commented on #52
@d33pak-s1ngh
 Try to run the command pod update first

[2018-09-14 09:16] d33pak-s1ngh commented on #52
is there way in which i can directly install latest version pod update is headache it will change many things.
Thank you for your support.

[2018-09-14 09:39] rushisangani commented on #52
@d33pak-s1ngh
You try
`pod update RSSelectionMenu`

[2018-09-17 04:35] #52 closed

[2018-09-18 11:30] d33pak-s1ngh opened #53 "Formsheet Width is not proper some time"
I am using formsheet to present users list which works fine but some time the width of formsheet shrink check the following image.
[screen shot](https://ibb.co/fCAJKz)

It happens only some time other time the width is fine but i am unable to find why this is happening.
![img_0070](https://user-images.githubusercontent.com/23626544/45797684-6d68d980-bcc4-11e8-8eb7-3586c6a967a3.PNG)

[2018-09-20 19:52] SpajicM commented on #53
Duplicate of the issue I opened almost a month ago.
https://github.com/rushisangani/RSSelectionMenu/issues/48

[2018-09-25 12:03] d33pak-s1ngh commented on #48
@rushisangani  have found any solution for this ?

[2018-09-27 05:11] rushisangani commented on #48
@d33pak-s1ngh didn't get time to resolve yet.

[2018-09-30 05:45] jahirfiquitiva opened #54 "automaticDimension error after updating to 5.3"
Hi
I'm getting error `Error:(78, 33) 'automaticDimension' has been renamed to 'UITableViewAutomaticDimension'` while compiling my app after I updated to 5.3
Can you please look into it?

[2018-09-30 08:10] AhmadOdeh93 opened #55 "search bar in navigation bar"
Hello

any way to add serach bar in Navigation bar ?

[2018-09-30 08:32] rushisangani commented on #54
@jahirfiquitiva This is due to the swift version is changed to 4.2
Can you please check in version 4.2?

You can also set swift version for specific pod only.

[2018-09-30 09:07] rushisangani commented on #55
@AhmadOdeh93 as per the current implementation of filtering and searching data, search bar on navigationBar is not possible, because it would be only available for **Present** and **Push** style.

[2018-09-30 13:48] rushisangani commented on #54
Hi you can change the swift version from build setting of project.

Xcode10 -> Build Setting -> Swift -> 4.2

You can also do the same with the
Pod target.

Pods project -> RSSelectionMenu -> build setting -> Swift -> 4.2

Hope this helps ☺️

On Sun, 30 Sep 2018 at 6:52 PM, Jahir Fiquitiva <notifications@github.com>
wrote:

[2018-09-30 17:49] #54 closed

[2018-10-01 07:50] SpajicM commented on #48
Still the same issue.

I'm using alert for time being but I prefer Formsheet since it allows dismiss by clicking outside the popup.

[2018-10-01 07:56] AhmadOdeh93 commented on #55
@rushisangani , thank you , but no any way fix it or edit on it ?

[2018-10-01 08:32] rushisangani commented on #48
@SpajicM Can you please describe a bit more about this error?

[2018-10-01 10:33] SpajicM commented on #48
ok I've looked into it a little bit deeper,

Issue was introduced at https://github.com/rushisangani/RSSelectionMenu/commit/07ad1c53c4a7b8580fd2e4afb5cf8739562b4553 and problem is it's going to else block even when in portrait, as can be seen from this screenshot

http://tinypic.com/r/2wnpj0g/9

iPhone 8 simulator
iOS 12 (previously 11, same thing)
Xcode 10 (previously 9, same thing)

It might be

[2018-10-01 10:45] rushisangani commented on #48
@SpajicM Thanks.
It would help me look further.

[2018-10-01 12:15] d33pak-s1ngh commented on #48
@SpajicM  I have faced this issue on real ios device.

[2018-10-01 12:35] rushisangani commented on #48
@SpajicM
Can you please try to replace the code below and check if it works correctly, since I can not reproduce it on my device.

**RSSelectionMenuController.swift**
Replace line number **183** with following.

`UIApplication.shared.statusBarOrientation == .portrait
`

[2018-10-03 08:06] rushisangani commented on #53
@d33pak-s1ngh this is fixed in version **5.3.1**

[2018-10-03 08:06] #53 closed

[2018-10-08 07:14] phr85 opened #56 "Popover with Title"
Hi folks
Is there a way to show "Popover" with a NavigationBar or at least a custom Title?
I saw the screenshot in this ticket: https://github.com/rushisangani/RSSelectionMenu/pull/51
This would be exactly what I need.

Bests

Philippe

[2018-10-08 10:55] phr85 commented on #56
@rushisangani  thank you for the quick fix & answer! 🙏🏻

[2018-10-08 11:05] rushisangani commented on #56
@phr85 upgrade to 5.3.2 and you can set title by setting navigationBar theme.

[2018-10-08 11:05] #56 closed

[2018-10-09 14:58] fcbmojtaba1995 opened #57 "Default Selection"
Thank for library.
How to set item default selected in single selection?

[2018-10-09 21:36] fcbmojtaba1995 commented on #57
Can you give an example?

[2018-10-10 04:33] rushisangani commented on #57
@fcbmojtaba1995

`
// set default selected items when menu present on screen.
// Here you'll get onDidSelectRow

selectionMenu.setSelectedItems(items: simpleSelectedArray) { (text, isSelected, selectedItems) in

// update your existing array with updated selected items, so when menu presents second time updated items will be default selected.
    self.simpleSelectedArray = selectedItems
}
`

see e

[2018-10-10 04:33] #57 closed

[2018-10-15 23:42] miguelDelgado333 opened #59 "How find index selected"
If I select an item how can I know the index that I select, in the selectionMenu.setSelectedItems(items: [])

thanks

[2018-10-16 05:43] rushisangani commented on #59
@miguelDelgado333 You will get the text of the selected row. Based on that you can search in the Array you've passed to the menu.

[2018-10-16 16:17] miguelDelgado333 commented on #59
ok thanks @rushisangani , excellent menu :)

[2018-11-16 07:39] aryan-smartsense opened #60 "Empty tableView message"
I would like to show a UILabel with a message when the datasource is empty to handle empty tableView. How is it possible here?

[2018-11-16 16:21] rushisangani commented on #60
Try this one. If it would be ok.

[code]
<img width="292" alt="screen shot 2018-11-16 at 9 50 38 pm" src="https://user-images.githubusercontent.com/7363933/48633605-b221a000-e9e9-11e8-89e5-4adb4fe24227.png">

[2018-11-21 12:38] deafjam opened #61 "Checkbox"

[2018-11-22 19:34] isaacraja15 opened #62 "how to get subtitle value in selectionMenu.onDismiss"
hi sir,

Im trying multiselect Actionsheet in that how can i get subtitle value in ondismiss?

![screenshot 2018-11-23 at 1 00 11 am](https://user-images.githubusercontent.com/44321070/48919906-a63b4f80-eebb-11e8-9c9d-20def25d581d.png)

[2018-11-23 05:39] rushisangani commented on #62
@isaacraja15 You will get all selected objects( Array of Strings, Int, Struct, Class etc.) on menu dismiss.

You can extract the required information from that data.
it's like same data you passed to the menu but with only selected items.

Hope this helps.

[2018-11-23 05:40] #62 closed

[2018-11-23 05:41] rushisangani commented on #61
@deafjam what is this issue created for?

[2018-12-07 09:51] hangocanh2303 opened #63 "[Question?] Bring RSSelectionMenu to top of all view?"
How to bring RSSelectionMenu to top of all view ?

[2018-12-07 11:46] rushisangani commented on #63
@hangocanh2303 try to present it from window's rootViewController.

`(UIApplication.shared.delegate as! AppDelegate).window?.rootViewController`

[2018-12-10 07:34] hangocanh2303 commented on #63
thank @rushisangani , last question for you. Can i change height of popover wrap content of number item?

[2018-12-10 07:37] rushisangani commented on #63
@hangocanh2303 yes. You can set popover size(width, height)
`selectionMenu.show(style: .Popover(sourceView: sourceView, size: nil), from: self)`

[2018-12-17 08:27] martin-one opened #64 "[Question] Any way to implement it together with dynamic table?"
As the title says, I want to implement this whit an alrready done dynamic table in the same screen.

[2018-12-18 05:49] tapizquent opened #65 "Change backgoundColor of tableView"
I am trying to find a way to change the color of the tableView background, not only the cell background. Is there any way to accomplish this?

My theme is dark so under the search, a white background appears and looks very ugly.

I have tried changing the background color of pretty much every (background) view inside the Framework but no luck.

![img_4512](https://user-images.githubusercontent.com

[2018-12-18 05:54] tapizquent commented on #65
I am so sorry, NVM. It was way easier than what I thought. Figured it out!

[2018-12-18 06:03] rushisangani commented on #64
@martin-one can you please describe more about this feature?

[2018-12-18 06:11] tapizquent commented on #42
How did you manage to change the background of the searchBar?

I have been trying but without luck.
I need to change the white background you see on that picture @jahirfiquitiva posted and the text to a different color too

[2018-12-19 09:57] hangocanh2303 commented on #59
but with large datasource, selection menu low performance

[2018-12-20 07:28] hangocanh2303 opened #66 "[Feature] Add index of item selected"
I suggest you add index of item in selected callback function: selectionMenu.setSelectedItems(items: repetitionTypeSelectedArray) { (text, isSelected, selectedItems) in
i believe it can help this library better

[2018-12-26 02:38] tapizquent commented on #65
Reopening because I did not find a solution. What I thought was fixing it really didn't and I can't seem to figure out how to get that to work. Please refer to the images I uploaded before. The background color of what I think is the tableView.background color.

The customization allows you to change the color of each cell but not of the actual tableView

[2018-12-26 04:46] rushisangani commented on #65
@tapizquent did you try this?
`selectionMenu.tableView?.backgroundColor = UIColor.black`
or
`selectionMenu.tableView?.backgroundView?.backgroundColor = UIColor.black`

[2018-12-28 06:42] subhash08 opened #67 "Max Selection Limit not working ."
Here is my code, which is I used to show selection menu. provided max limit of 4 but Im still able to select more then 4.

[code]

[2018-12-28 09:12] rushisangani commented on #67
@subhash08
Try to put this line
` selectionMenu.maxSelectionLimit = 4`
after
[code]
Like below:
[code]

One more thing `selectionMenu.dismissAutomatically = false` will only work for single selection.

[2018-12-29 15:44] fcbmojtaba1995 opened #69 "Tap On Screen Close Selection Mnuu"
Hi Thanks For This Library.
I Use Action Sheet Style And Single Selection. I Want When User Tap Other Screen Space , Close (Dismiss)
Action Sheet. Please Help me Thanks.

[2018-12-30 16:35] rushisangani commented on #69
@fcbmojtaba1995 you need to provide action button to dismiss the menu on tap outside.
like this.
`selectionMenu.show(style: .Actionsheet(title: nil, action: "Done", height: nil), from: self)`

Hope this helps.

[2018-12-30 16:35] rushisangani commented on #67
@subhash08 Did you try this?

[2018-12-30 16:36] rushisangani commented on #65
@tapizquent did you try this?

[2018-12-30 16:36] #63 closed

[2018-12-30 16:39] rushisangani commented on #60
@aryan-smartsense did this work for you?

[2018-12-30 16:40] rushisangani commented on #61
@deafjam is there any specific feature you want to include?

[2019-01-02 13:13] subhash08 commented on #67
@rushisangani  Thank you man, it's working now.

closing issue now.

[2019-01-02 13:13] #67 closed

[2019-01-02 13:57] ghubaddole opened #70 "An alphabetized index for fast picking in a long list?"
This is great Menu!!

I have a rather long list to show in the RSSelectionMenu and it'll be fabulous if you can add a feature for  an alphabetized index like https://github.com/mindz-eye/MYTableViewIndex!

Also, if we can add a small circular image on the left, it'll be the cherry on the cake!

Thanks, and happy new year!
g

[2019-01-02 17:47] rushisangani commented on #70
@ghubaddole Happy New Year 🥇
you can use custom table view cells for design customization (circular image on the left). Please read doc for the same.

Sure I'll try to add TableViewIndexing feature for upcoming release. Meanwhile you can use SearchBar to quickly search an item from the long list.

Thanks again :)

[2019-01-04 12:18] rushisangani commented on #60
@aryan-smartsense update to the latest version 6.0 and you can set empty data message.

[code]

[2019-01-04 12:18] #60 closed

[2019-01-04 12:19] rushisangani commented on #61
@deafjam update to the latest version 6.0 and you can use checkbox tableviewcell style.

`selectionMenu.cellSelectionStyle = .checkbox`

[2019-01-04 12:19] #61 closed

[2019-01-04 12:22] rushisangani commented on #66
@hangocanh2303 update to the latest version 6.0 and you will get selected index along with other parameters in callback.

[code]
Some new features are also added like 'EmptyData message', 'Checkbox style'.
Thanks 👍

[2019-01-04 12:22] #66 closed

[2019-01-08 06:49] hangocanh2303 commented on #66
Many thanks @rushisangani, you are the best 👍

[2019-01-09 11:37] juanm4 opened #71 "Change selection on air"
Hi, I would like to know how can I select/deselect items programatically when RSSelectionMenu is showing. I mean, for example, when I select the first item, I want deselect all other items automatically.
The same should happens on the inverse situation, if I select one of items (except first) I want to deselect the first item.

I achieve that but only when RSSelectionMenu is closed and reopened ag

[2019-01-09 12:39] rushisangani commented on #71
If your menu is the single selection you can use following.
`selectionMenu.dismissAutomatically = false`

Let me know if it's working for you.

[2019-01-09 16:32] goalguy10 opened #72 "Multiple Columns?"
Is it possible for one RSSelectionMenu to have multiple columns? What I am trying to achieve is something like the datepicker but using RSSelectionMenu. I am looking to have 3 columns, each with different size arrays and each single selection.

[2019-01-09 17:10] rushisangani commented on #72
@goalguy10
Nope this is not possible.

[2019-01-09 17:39] goalguy10 commented on #72
@rushisangani
I was afraid of that. Any chance of this being added to an update?

[2019-01-10 05:05] rushisangani commented on #72
@goalguy10
Multi-columns is a totally different approach for this drop-down/selection menu.
You should rather use picker for that.

Or if you want to use RSSelectionMenu, then you should put 3 buttons side by side and show this menu as a popover from that.

Perhaps you can consider to change that multi-column approach to multiple dropdowns and show them one-by-one, like country then state then cit

[2019-01-10 05:06] rushisangani commented on #71
@juanm4 Did you try this?

[2019-01-10 10:16] juanm4 commented on #71
Hi, I have tried this but it doesn't work, maybe because is not exactly the operating I looking for. I'm going to be more specific.

Imagine next select:
![captura de pantalla_2019-01-10_11-04-40](https://user-images.githubusercontent.com/4191613/50961297-9dccc180-14c7-11e9-9d63-fc2be2dd0c66.png)

And I want next function.
- If I select first option all other Values must be deselected
- If I selec

[2019-01-16 12:11] juanm4 commented on #71
Great!! It was in front of me and I didn't realize that.
Thanks for your time!

[2019-01-16 12:12] #71 closed

[2019-01-21 00:17] smedic opened #73 "Change text for addFirstRowAs - rowType: .All"
"All" is not suitable for my needs, so I need to change text. Any way to do that easily?

Thanks, great library.

[2019-01-21 01:39] DBhanderi commented on #73
@smedic you can set custom text also by using `.custom("")`

<img width="927" alt="screenshot 2019-01-21 at 7 08 02 am" src="https://user-images.githubusercontent.com/28247148/51448278-6a9df400-1d4b-11e9-87bc-851049e445b3.png">

[2019-01-21 10:23] smedic commented on #73
Great, I missed this. Thanks!

[2019-02-08 08:25] mahadshahib opened #74 "Actionsheet action buttons not showing"
I am using .actionsheet show option but there is no action button visible and there is no swipe dismiss option what should i do?

[2019-02-08 17:26] rushisangani commented on #74
Please refer #69

[2019-03-22 05:55] #74 closed

[2019-04-08 00:28] mikerz commented on #64
I'm wishing for this functionality as well. An example use case is a custom nib with a tableview, and having this library drive its logic without requiring that it be presented as a separate view controller. For example, a screen with a title, and a few toggle buttons in addition to a checklist of items.

[2019-04-08 00:34] Ethandf90 opened #76 "ld: framework not found RSSelectionMenu on Xcode10"
framework not found after pod install

[2019-04-08 00:35] #64 closed

[2019-04-08 00:54] #76 closed

[2019-04-15 15:35] WBiOSD111 opened #77 "It is possible to dismiss the alert controller without going through the dismiss handler?"
I love the menu by the way!

I was curious to know if it would be possible to dismiss the alert controller without going through the dismiss handler.  I don't what to have anything saved to the selected array when the user clicks on the outside of the alert controller.

[2019-04-16 05:26] rushisangani commented on #77
@WBiOSD111 thank you for using this :)
I am not correctly getting your problem. What should happen, if there are already items selected while presenting the menu and a user clicks outside the menu?

[2019-04-17 13:27] WBiOSD111 commented on #77
In my case, the user selects items and then click "Done" to saved them.  Is there any way to avoid having this same behavior when the user clicks outside the menu? In other words, only dismiss the alert controller without saving the selected items.  Let me know if that makes more sense.

[2019-04-30 15:08] rushisangani commented on #77
@WBiOSD111 For the presentation style **ActionSheet**, if you've specified the "Done" button.
AlertController will be automatically dismissed when tapping outside, which is similar to clicking on a done button.
I don't think so, we have a way to find out whether it's clicking on Done or outside.

What your thoughts on this.

[2019-05-29 16:01] #72 closed

[2019-05-29 16:04] goalguy10 opened #78 "leftBarButton with .present and multiple selection"
The leftBarButton is not showing when I am presenting a multiple selection list with .present. Is this the correct behavior? If so, is it possible to add a leftBarButton? I am looking to add a cancel button.

Also, is it possible to change the rightBarButton text once the user starts selecting items? I have tried to set .rightBarButtonTitle within the .setSelectedItems function but the rightBarBut

[2019-05-29 16:28] rushisangani commented on #78
Hi, @goalguy10 **.present** style should by default show cancel button.
Can you please share your code?

[2019-05-29 16:30] rushisangani commented on #78
@goalguy10 You can set `menu.rightBarButtonTitle = ""`.
Let me know if that works?

[2019-05-29 17:14] goalguy10 commented on #78
The only button showing is the .rightBarButton.
[code]

The:
[code]
code does not change the rightBarButtonTitle when I start selecting items.

[2019-06-03 04:16] rushisangani commented on #78
Hey @goalguy10 for multi-selection, there will not be any leftBarButton. It's because if we put cancel in it, there would be an ambiguity whether to discard user's existing selection or not.

let's say, a user has passed 5 items as already selected, and now added few more items and removed few items, now clicking on cancel button will make the scenario complicated whether to discard all of them or

[2019-06-03 04:17] rushisangani commented on #78
@goalguy10 I'll surely look into the barButtonItem title change.

[2019-06-30 08:29] ghubaddole opened #79 "background blur?"
Can you add the option of adding a blurStyle / blurBackground option using UIBlurEffect?

[2019-07-23 07:16] hstdt opened #80 "Keep firstRow selected when all items deselected at multiple selection style"
When I deselect all items, firstRow will not be selected automatically. I believe select the firstRow is better.

![image](https://user-images.githubusercontent.com/10215098/61690765-a9dde980-ad5c-11e9-9bca-9f3f9fea50d1.png)

[2019-07-23 07:29] hstdt opened #81 "Items will be covered when keyboard showing up"
![image](https://user-images.githubusercontent.com/10215098/61691364-f544c780-ad5d-11e9-8511-193650a04f5f.png)

[2019-07-29 06:22] hassan8055 commented on #76
how do you install this framwork in swift 4 ? Because whenever i install this pod , i get an error of supported version swift 5

[2019-08-25 09:24] X901 opened #83 "Support Pagination"
Hi ,
this framework is great for making forms in iOS

but it missing Pagination
when there is alot of data only display frist 10 from example
and every time user scrolling down it will display more cells

this fremwork is do the job
https://github.com/salmaanahmed/PaginatedTableView

it will good to have it on this fremwork !

[2019-08-27 17:27] ghubaddole opened #84 "way to embed the menu in a view controller as opposed to a modal"
Can you tell me if it is possible to embed the menu in a view controller either via storyboard or programmatically, rather than presenting it as a modal?

[2019-08-27 17:55] rushisangani commented on #84
@ghubaddole It's not possible as of now, you should use **actionsheet** or **alert** menu presentation style for that.

[2019-08-27 18:01] rushisangani commented on #83
@X901 Thanks for the suggestion. I will surely try to integrate if possible.

[2019-09-01 11:24] X901 opened #85 "how can I add sections ?"
Hi ,
is this library support sections ?
I only need sections to organize my data

so the User can see the data organized
but the selected items will be in only on array

I see the Demo video and see all the tableview is default tableview without the sections
so I wonder is it possible to do it using the library ?

like :

A
-------------
a0  ✔️
a1
a2  ✔️

B
-------------
b0  ✔️
b1
b2

[2019-09-01 11:32] rushisangani commented on #85
@X901 It's not possible as of now, I will try to figure out If I can implement this.
Sections would be much more complicated than just showing Alphabet letters.
- It could be custom text
- The way we're passing data would also affect (simple array will not work).

[2019-09-10 14:24] surafelbm opened #86 "Open the selection dialog as an inputView to a UITextField"
Hello,
is it possible to open the dialog as an inputView of a UITextField?
 something like `textField.inputView = selectionMenu`

[2019-09-10 16:30] rushisangani commented on #86
@surafelbm I've personally not tried it. But I think you can still use this menu
By not opening the keyboard and showing the menu when a user clicks on the textView.

[2019-09-12 08:02] TuralVeli opened #87 "when open check all of cell"

[2019-09-18 17:41] ghubaddole commented on #84
Alternately, if the menu can be presented like an ios 13 style action sheet (even on ios 12), that'll be great.

[2019-10-22 19:47] goalguy10 opened #88 "Change text color of header row"
How can I change the color of the header row?

I have the below code, which adds "None" as the first item:
`gCarMenu.addFirstRowAs(rowType: .none, showSelected: self.firstRowSelected) { (text, isSelected) in
            self.firstRowSelected = isSelected
        }`

I also have this code to change the text color within the table to accommodate for Dark Mode:
`if #available(iOS 13.0, *) {

[2019-10-25 18:24] saitejapanditi67 opened #89 "RSSelection menu Action Sheet"
Unable to set the done or cancel button in the action sheet

[2019-11-07 14:29] sukhpreet011 opened #90 "Dark Mode"
Is there any option to apply dark mode in it?

[2019-11-08 04:36] rushisangani commented on #90
@sukhpreet011 You can set UITableView, UITableViewCell, TextLabel colors as per your need.
If you're using custom cells, then it's up to you to set theme.

[2019-11-16 17:29] AmjadAlSawafta commented on #89
I opened a pull request to resolve this issue https://github.com/rushisangani/RSSelectionMenu/pull/91

[2019-11-16 17:45] AmjadAlSawafta commented on #89
You can use my fork as a temp solution until the pull request is being merged.

[2019-11-18 06:09] saitejapanditi67 commented on #89
Thank you for your reply. the code in #91 is working only for the below versions of iOS 13. it's not working on iOS 13.

[2019-11-26 01:47] AmjadAlSawafta commented on #89
@saitejapanditi67 Welcome.
I opened another revision and tagged it '6.0.8'. I hope it will work probably on the  iOS 13.

[2019-12-06 08:43] dilipbhuva commented on #89
You can not set UIAlertAction style to cancel for iPad,  popover will not display that type of action.
Change  in RSSelectionMenuController.swift -> getAlertViewController
let doneAction = UIAlertAction(title: actionTitle, style: .default) { [weak self] (doneButton) in
            self?.menuWillDismiss()
 }
style: should be  .default to show Done Button in ActionSheet.

[2019-12-21 20:17] X901 opened #92 "items menu is empty when show as bottomSheet"
Hi ,

I need to show the menu when click on NavigationBarItem
I did use
`        selectionMenu.show(style: .bottomSheet(barButton: settingsButton, height: nil), from: self)
`
the menu did display but without data !

so I did try all

`selectionMenu.show(style: .alert(title: "Select", action: nil, height: nil), from: self)`
and
`selectionMenu.show(style: .actionSheet(title: nil, action: "Done", hei

[2019-12-22 11:37] #37 closed

[2019-12-22 11:37] rushisangani commented on #86
Closing this due to inactivity.

[2019-12-22 11:37] #86 closed

[2019-12-22 11:38] rushisangani commented on #90
Closing this due to inactivity.

[2019-12-22 11:38] #90 closed

[2019-12-22 12:49] rushisangani commented on #92
@X901 Thanks for you using this library.
I've added an example [here](https://github.com/rushisangani/RSSelectionMenu/commit/9190bca87d0753ffd36172556c77127a0875e26e) to demonstrate how to use **Bottom Sheet** with a custom class for `UITableViewCell`.

You can also refer this with latest example code.

[2019-12-22 20:07] X901 commented on #92
I follow your code , I did copy everything from you code . and I did add it to my project
still doesn't apper !

see the image
https://share.getcloudapp.com/RBuX9JoE

your example project working without issue ! even on iPad !

very wired issue =\

[2019-12-23 04:26] rushisangani commented on #92
@X901 Can you share your code?

[2019-12-24 12:13] X901 commented on #92
I did try to give you Demo by delete anything else not related in my project
and unexpected it working fine !!!
that mean there is issue with my code that let your library don't show data , still I don't know what is it.

[2020-01-01 06:28] #55 closed

[2020-01-01 06:28] #70 closed

[2020-01-01 06:28] #77 closed

[2020-01-01 06:28] #78 closed

[2020-01-01 06:28] #79 closed

[2020-01-01 06:28] #80 closed

[2020-01-01 06:28] #81 closed

[2020-01-01 06:28] #83 closed

[2020-01-01 06:28] #85 closed

[2020-01-01 06:28] #87 closed

[2020-01-01 06:28] #84 closed

[2020-01-01 06:28] #88 closed

[2020-01-01 06:34] X901 commented on #92
I did tried diffrent library
https://github.com/Kofktu/KUIPopOver

I faced the same issue !
but after I did it without any library it, working fine without any issue !!

Unfortunately I don't find out what is the reason
very weird issue it only happend on current project only !

[2020-01-01 06:34] #92 closed

[2020-01-10 13:32] mehulparmar4ever commented on #89
Hello @all,

The issue is still existed but only for iPad below iOS 13.

The code is working fine in iOS 13 but not in iOS 12.
See, "Done" button is not visible in iOS 12.

See this: <img width="1063" alt="Screenshot 2020-01-10 at 7 00 44 PM" src="https://user-images.githubusercontent.com/7687920/72156434-89255100-33db-11ea-8e6c-8631996940b2.png">

Does anyone have a solution?

Help needed
#91

[2020-01-14 06:51] kishore94 opened #93 "For iOS13 .present need to provide option for fullscreen"
if case .present = with {
            tobePresentController = UINavigationController(rootViewController: self)
            tobePresentController.modalPresentationStyle = . overCurrentContext // added this line but still not presenting as fullscreen.
        }

[2020-01-15 06:19] rushisangani commented on #93
@kishore94 use tobePresentController.modalPresentationStyle = . fullScreen

[2020-02-03 12:40] aryan-smartsense opened #94 "Popover dismiss on click not working"
Hi, I'm unable to dismiss the popover presentation in multiple selection type. Earlier, it used to dismiss itself on touch outside the popover window. Single selection is working fine as of now since it must be dismissing onSelect.
iOS version: 13.3
pod version: 6.1.0
This is the code that I'm using:

    guard let viewModel = self.viewModel, let options = viewModel.options else { return }

	let m

[2020-02-03 13:00] rushisangani commented on #94
Hi @aryan-smartsense
I need to check this.

But I suggest you use another style for multiple selection either formsheet or actionSheet.
Because it’s better to have user’s confirmation after selecting multiple rows, which can be achieved by ‘Done’ button.

Let me know that helps :)
Meanwhile I will check how it should work for Multiple selection for Poppver style.

[2020-02-04 08:21] aryan-smartsense commented on #94
Hi @rushisangani
I've started using actionSheet for now.
Still, keep posted until popover starts to work again as expected.

Thanks

[2020-02-06 00:32] tooolbox opened #95 "Present Popover from Bar Item"
Would be good to support displaying the selection popover from a bar button item, as well as a source view.

See: https://developer.apple.com/documentation/uikit/uipopoverpresentationcontroller/1622314-barbuttonitem

[2020-02-09 06:17] #93 closed

[2020-02-16 14:00] #89 closed

[2020-03-12 08:56] #94 closed

[2020-03-14 01:43] #95 closed

[2020-04-09 06:26] harish3737 opened #96 "Could not cast value of type 'Project.ServicesType' (0x11071c9d0) to 'NSObject' (0x111cecd70)."
struct ServicesType : Mappable, UniquePropertyDelegate {
    func getUniquePropertyName() -> String {
        return "id"
    }

    var id : Int?
    var name : String?
    var description : String?
    var image : String?

    init?(map: Map) {

    }

    mutating func mapping(map: Map) {

        id <- map["id"]
        name <- map["name"]
        description <- map["description"]
        imag

[2020-04-09 06:28] harish3737 commented on #96
I am not getting a value for the same when I  use codable,while running the value I am facing the following error,I am getting the value from an api and using it as same

[2020-04-09 07:42] rushisangani commented on #96
@harish3737 You can fix this by only passing string array to the RSSelectionMenu as DataSource.
You need to map like below.

`let dataSource = serviceTypes.map { $0.name }`
You will get selected names afterwards.

Then if you need serviceType object again you can check for
`serviceTypes.first { $0.name == selectName }`

OR

You can create another temperory struct like below
[code]
You can pass arr

[2020-04-09 07:43] rushisangani commented on #96
For Strings type of array, you don't need to set UniquePropertyDelegate.

[2020-04-09 07:47] #96 closed

[2020-05-07 05:30] fabien79 opened #97 "Change the "All" color"
Hi,
I use your librairy with .present and multiselect.
I can not find how to change the  "All" label color and selection tick.
is it possible to do that ?
Thanks

[2020-05-07 05:42] rushisangani commented on #97
@fabien79 It's not possible as of now, it's an basic UITableViewCell. I need to find a way to customise it.

[2020-05-13 12:53] praditkan opened #98 "It takes 11+ minutes for FormSelectionMenu to popup..."
I have 4 ViewControllers embedded in NavigationController.
The 4th view I call FormSelectionMenu it works.
But either I wait for 11+ minutes or I touch 2nd tap on the screen then
the menu will show up.

However, in order for me to make this to work, I have to put these in my AppDelegate.
Otherwise, the window will always be nil.

     'self.window = UIWindow(frame: UIScreen.main.bounds)
     let m

[2020-05-13 13:42] praditkan commented on #98
I found my TableViewCell > Selection > None.
Then I changed to Selection > Default.
It's working as it should be now.
Thanks.

However, the window is nil am I doing it right?

[2020-05-17 14:11] golangnext opened #99 "Any plan to give a Swiftui version?"
Any plan to give a Swiftui version? Thanks

[2020-05-18 14:00] rushisangani commented on #99
I will check, if it can be easily implemented

[2020-06-04 08:09] praditkan commented on #9
I have this problem on SplitView. (Master-Detail.)
It happens on the Detail screen.

[2020-06-08 04:54] praditkan opened #101 "Request to add code to solve issue layout out of splitview area."
Could you please add this code to fix the issue?
(_In RSSelectionMenuController, fileprivate func setTableViewFrame()_ )

When in iPad landscape with splitview.
The selection menu is out of bound of split detail view.
Due to the background.frame.size.width still got the fullscreen iPad size not the
current split detail bound.

<img width="694" alt="Screen Shot 2020-06-08 at 12 54 30" src="https://

[2020-06-08 05:03] rushisangani commented on #101
@praditkan Can you please add a screenshot, what's the issue?
And probably the code how you're presenting the menu?

[2020-06-08 05:04] rushisangani commented on #98
@praditkan is this worked for you?
If so, please close this issue.

[2020-06-08 06:04] #98 closed

[2020-06-08 14:59] praditkan commented on #101
I edited and added the screenshot.

I only added this line of code into your RSSelectionMenuController, and it fixed my problem.

`     self.backgroundView.frame = self.view.bounds`

[2020-06-11 07:55] jasmit34 opened #102 "In Multiselect when user select All then items should also selected"
In Multiselect when user select All option then items should also selected. How can i achieve this? @rushisangani

![SelectAll](https://user-images.githubusercontent.com/61501065/84359933-fafe0280-abe6-11ea-8279-10942fad2417.png)

[2020-06-11 08:53] rushisangani commented on #102
@jasmit34  It's not in the library as of now and probably not required as well.
`Select All` is clearly understandable.

[2020-06-11 09:52] jasmit34 commented on #102
@rushisangani Thanks for your prompt reply.
I can understand you but someone not understand :).
If possible the same thing then please help me.

[2020-06-11 10:12] rushisangani commented on #102
probably, you can reload the table when user clicks on `Select All` but not sure if that works.

[2020-06-11 13:52] jasmit34 commented on #102
No it's not working because in code selectedItems.removeAll(). It removes all the selected items.

[2020-06-12 14:16] norbdev opened #103 "Missing Done button in 6.1.0"
RSSelectionMenu.swift line 473

[code]

[2020-06-13 07:06] #97 closed

[2020-06-18 09:54] abinrm opened #104 "Swift package manager support"
It would be lovely if RSSelectionMenu could support Swift Package Manager.

[2020-06-18 17:43] rushisangani commented on #101
@praditkan ideally any popup (formSheet) background should cover entire window width (master + detail), not only detail view.
You can take reference from iPad Settings app or alert presented on the iPad.

If we allow the user to select the item from the master view, while any popup is on the screen, then it's a bad UX because the user is expected to take any action in the popup or dismiss it.

[2020-06-19 05:11] praditkan commented on #101
That is true in a sense of design best practice and preference.

However, your code still allow us to use this way.
Then this is still a defect, isn't it?
It displays off the screen.

I just hope this would make it more robust to use.
I could be wrong sorry.
I'm a new swift developer anyway.

[2020-06-19 07:22] rushisangani commented on #101
Maybe you can present from splitViewController and then check?
`menu.show(type: <type here>, from: self.splitViewController)`

[2020-06-19 07:23] rushisangani commented on #103
@norbdev What's the issue here?
Can you elaborate?

[2020-06-19 07:25] rushisangani commented on #102
@jasmit34 Maybe you need to show all rows selected when the first row is 'All'. But what if the first row is `Empty`, `None`, or `Custom Text`?

It would be much more complicated to handle selection and deselection for various types.

[2020-06-24 14:43] norbdev commented on #103
If you want an .alert not an .actionSheet the done action missing.

[2020-06-24 14:57] #99 closed

[2020-07-08 07:06] pmaattanen commented on #103
The AlertAction style is set to .cancel in library. That is the reason why it doesn't show the button in iPads. when selection style is set to actionSheet (might be the case in .alert as well). Just change it to .default.

[2020-07-13 09:48] kirti301290 opened #106 "How to add shadow like highlight popover view"
Hello
i am using this control and it have lot of feature  but facing one problem it not  highlight  so user are not easily interact this popup control
any want to give shadow so it highlight
attached screenshot
![Simulator Screen Shot - iPhone 11 - 2020-07-13 at 15 18 23](https://user-images.githubusercontent.com/10956919/87290832-22b0f500-c51c-11ea-9ee6-d27645834189.png)

[2020-07-14 05:15] rushisangani commented on #106
Probably you don't need to show popover on click of searchbar. Instead you can filter the data directly without showing the popover.

[2020-07-14 05:18] rushisangani commented on #101
@praditkan Were you able to resolve this?

[2020-07-14 05:19] rushisangani commented on #103
@norbdev Maybe the done button is not required in the iPad?

[2020-07-14 05:20] rushisangani commented on #104
@abinrm I will try to do it. Maybe you could also create PR if possible.

[2020-07-14 05:21] rushisangani commented on #102
@jasmit34 Were you able to resolve this? Did you try with another approach?

[2020-07-14 06:49] kirti301290 commented on #106
Hello
No,in my Screenshot  need  dropdown in when click on TextField  pls help me
now is dummy data show you see similar record

[2020-07-14 11:11] praditkan commented on #101
Ah this one work!!!

`menu.show(type: <type here>, from: self.splitViewController)`

Thank you so much.

[2020-07-14 11:57] praditkan commented on #101
I found another issue.

The same project I did change self.splitViewController as you advised for those detail view.

It happens again this time within the view that is presented modally.

I tried this but it doesn't work.

`menu.show(type: <type here>, from: self.presentingViewController!)`

[2020-07-30 09:21] norbdev commented on #103
In the 7.0.0 the issue is the same

https://github.com/rushisangani/RSSelectionMenu#presentation-style---formsheet-popover-alert-actionsheet

`// or specify alert button title`
`selectionMenu.show(style: .alert(title: "Select", action: "Done", height: nil), from: self)`

The action Done is missing.

This commit is the issue:
https://github.com/rushisangani/RSSelectionMenu/commit/c84630e66e1f2189b4

[2020-07-31 05:39] jasmit34 commented on #102
Yes i have modified the library and achieved that feature.
Thanks

[2020-07-31 05:39] #102 closed

[2020-07-31 05:44] jasmit34 opened #107 "In multi selection option if we have same name for 2 entries then these names selected when tap on one."
In multi selection option if we have same name for 2 entries then these 2 names selected when tap on one.
If i want to select 1 entry at one click, how is it possible? Is there any solution?

[2020-07-31 05:45] rushisangani commented on #107
@jasmit34 each entry should be unique for the selection. You should only show one of them in the list.

[2020-07-31 05:50] jasmit34 commented on #107
Thanks for your prompt response.
Yes but sometimes both users have same name so it creates issue, Let me know if any workaround.

[2020-07-31 05:52] rushisangani commented on #107
@jasmit34 Menu accepts any type that implements `Equatable`. You should pass entier model in the list instead of passing strings array. Also your model should implement `Equatable` to uniquely identify each user.

[2020-07-31 06:37] jasmit34 commented on #107
Yes working fine. Thanks @rushisangani

[2020-08-07 07:01] #107 closed

[2020-08-07 07:08] rushisangani commented on #106
@kirti301290 Are you able to solve the problem? If you show it using **popover** type then the background shadow will be automatic by the ios. You can also try using **.formsheet** or **.alert**

[2020-08-07 07:14] kirti301290 commented on #106
@rushisangani
Thanks for reply but if i use   .formsheet or .alert then it will not point to textfield  and it show Center of uiview
i need to point to textfield that why used popover

[2020-08-07 07:16] rushisangani commented on #106
@kirti301290 For popover background is by default by system. Maybe you can try using **.alert** with the title? then user will know what they're selecting.

[2020-08-07 07:57] rushisangani commented on #103
@norbdev @pmaattanen Thanks for reporting the issue and supporting this library.
It's fixed now. Please update to the version `v.7.1.0`.

Thanks

[2020-08-07 08:04] #103 closed

[2020-08-07 08:04] rushisangani commented on #106
@kirti301290 Let me know if that works for you. Closing this issue for now :)

[2020-08-07 08:04] #106 closed

[2020-08-07 08:06] rushisangani commented on #101
@praditkan why did you use `from: self.presentingViewController!` here?
I believe it's not the issue in the library. Maybe you can try presenting from another view controller or application window.

Closing this issue for now:)

[2020-08-07 08:06] #101 closed

[2020-09-30 07:39] norbdev opened #108 "SPM support?"

[2020-10-13 04:48] pateldhruvil96 opened #109 "Can we preselect certain options at the very first time?"
I mean if we open the selection list for the first time, then i want certain elements to be selected already. So how can we do that?
Please let me know!

[2020-10-13 06:46] rushisangani commented on #109
@pateldhruvil96 Please pass items in selected array like below:
`selectionMenu.setSelectedItems(items: simpleSelectedArray)`

[2020-10-13 08:52] dhruvil-patel99 commented on #109
Thanks for the info i misplaced that array my bad

[2020-10-13 09:09] #109 closed

[2020-10-15 05:40] harimayco opened #110 "Popover onDismiss is not working"
it works with actionSheet but not popover?
any idea why? because i want to user as popover and trigger action when it dismissed.

[2020-10-22 11:27] nnirajan opened #111 "how can i add serach bar to navigation bar"

[2020-11-07 05:00] #108 closed

[2020-11-09 12:39] rushisangani commented on #108
@norbdev this is done in version 7.1.1 :)

[2020-11-09 13:07] rushisangani commented on #110
@harimayco This is fixed in the version 7.1.2

Thanks for the feedback 👍

[2020-11-09 13:07] #110 closed

[2020-11-12 18:36] billypap1 opened #112 "Modal in Full Screen"
Hello, how can I open the modal (".present" style) in Full Screen?

[2020-11-19 04:47] rushisangani commented on #112
put below line before showing the menu.
`menu.modalPresentationStyle = .fullScreen`

[2020-11-19 11:24] dhruvil-patel99 commented on #102
Hey may i know how you achieved this feature?

[2020-11-28 14:46] #111 closed

[2020-12-26 06:43] #112 closed

[2021-02-17 14:41] Manojreddy544 opened #113 "Selecting All"
Hi,
While Clicking All in first row, remaining rows are automatically selected, but it's not happening in this pod
While selection all, check mark will selected for remaining things, it's not happening at present.
Can you check that please?

[2021-02-27 10:54] rushisangani commented on #113
@Manojreddy544 please share screenshots and code. describe your issue in detail.

[2021-02-27 11:01] Manojreddy544 commented on #113
Hi,
The issue is, by Selecting All in the list remaining all are selected
automatically, if i deselect that all button remaining all are
automatically deselected.
I am attaching screenshot below
Please look on it

On Sat, Feb 27, 2021 at 4:24 PM Rushi Sangani <notifications@github.com>
wrote:

--
Yours Sincerely
Manoj Reddy

[2021-02-27 11:47] rushisangani commented on #113
Probably it's because library can not find unique item in the list.
You should have unique identifier for each item in the list.
If you're passing objects in the list each object must implement **Identifiable**

[2021-03-05 13:02] Jainesh219 opened #114 "Done button in popover"
Thanks for this library.

Just wanted to check is there is anyway to add done button in popover. If yes kindly guide.

Thanks again.

[2021-03-05 13:39] rushisangani commented on #114
For single selection in Popover, done button is not needed.

For multiple selection. It will be available.

[2021-03-06 11:19] Jainesh219 commented on #114
Thanks Rushi for your prompt reply.
You mean in the new version it will be available right specifically for multiple selection popover?

[2021-04-18 23:06] #114 closed

[2021-04-18 23:06] #113 closed

[2021-09-23 16:04] dme8a8 opened #116 "Unable to build RSSelectionMenuExample in Xcode 13"
Unable to build RSSelectionMenuExample in Xcode 13
Building complains on "built for iOS, not iOS Simulator"
I tried to removed the RSSelectionMenu framework - and added RSSelectionMenu as package

HW: Mini M1

[2021-11-02 04:41] jis248 commented on #116
same issue

[2022-04-16 13:45] #116 closed, assigned to nobody